<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/main.css">
    {% block head %}{% endblock %}
</head>
<body class="layui-layout-body">
{% block body %}{% endblock %}
<script src="/static/jquery-3.4.1.min.js"></script>
<script src="/static/layui/layui.all.js" charset="utf-8"></script>
{% block script %}
{% endblock %}
</body>
</html>