<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    {% block head %}{% endblock %}
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    {# 顶部 #}
    <div class="layui-header header">
        <div class="layui-logo">
            DexCMS管理后台
        </div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:">

                    贤心
                    <span class="layui-nav-more"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">注销</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    {# 左侧菜单 #}
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:">文章管理<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:">列表一</a></dd>
                        <dd><a href="javascript:">列表二</a></dd>
                        <dd><a href="javascript:">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="{{ url_for('admin_category') }}">栏目管理</a></li>
                <li class="layui-nav-item layui-this"><a href="{{ url_for('admin_users') }}">用户管理</a></li>
            </ul>
        </div>
    </div>
    {# 主体区域 #}
    <div class="layui-body" style="padding:15px;">
        {% block body %}{% endblock %}
    </div>
    {# 底部footer #}
    <div class="layui-footer">
        <p align="right">© DexCMS 2019</p>
    </div>
</div>


<script src="/static/jquery-3.4.1.min.js"></script>
<script src="/static/layui/layui.all.js" charset="utf-8"></script>
<script>
    var element = layui.element;
</script>
{% block script %}
{% endblock %}
</body>
</html>