{% extends 'admin/base.html' %}
{% block body %}
    <div class="layui-row">
        <fieldset class="layui-elem-field">
            <legend>常用操作</legend>

            <div class="layui-form-item" style="margin-top:15px; margin-left:22px">
                <div class="layui-inline">
                    <button class="layui-btn" onclick="add_cate()">添加新栏目</button>
                </div>
            </div>

        </fieldset>
    </div>
    <div class="layui-row">
        <table id="cate_table" lay-filter="cate_table_layui"></table>
    </div>
    {#表格每行后面的操作按钮集合#}
    <script type="text/html" id="rowTool">
        <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        {#注释测试#}
    </script>
{% endblock %}
{% block script %}
    <script>

        {#监听表单提交#}
        var form = layui.form;
        {#添加分类#}

        function add_cate() {
            layer.prompt({
                title: '输入栏目名称',
                formType: 0,
                shade: 0
            }, function (cate_name, index) {
                layer.close(index);
                $.ajax({
                    url: '/admin/category',
                    method: 'post',
                    data: {
                        method: 'add',
                        cate_name: cate_name
                    },
                    success: function (ret) {
                        loadTable();
                        layer.alert(ret.msg);
                        layer.close(edit_layer);
                    }
                });
            })
        }

        {#加载表格数据#}
        var table = layui.table;

        function loadTable() {
            table.render({
                elem: '#cate_table',
                //height: 480,          //不指定固定值将自动适应高度
                url: '/admin/category',
                method: 'post',     //这里是ajax的请求类型
                where: {            //发送请求的其他参数
                    method: 'paginate'  //传给后台的额外post数据
                },
                request: {
                    pageName: 'page',     //调整post请求中传入后台的页码的参数名称，默认：page
                    limitName: 'limit'    //每页数据量的参数名，默认：limit
                },
                page: true,
                cols: [[
                    {field: 'id', title: 'ID', width: 80, align: 'center', sort: true, fixed: 'left'},
                    {field: 'name', title: '栏目名称', align: 'center', width: 700},
                    {field: 'operate', title: '操作', minWidth: 200, align: 'center', toolbar: '#rowTool'}
                ]]
            });
        }

        loadTable();

        {#监听表格中每行后面的工具条#}
        var edit_layer
        table.on('tool(cate_table_layui)', function (obj) {
            var data = obj.data;    //获取当前行数据
            var layEvent = obj.event;   //获取lay-event对应的值
            var tr = obj.tr;    //获取当前行<tr>的DOM对象(如果有的话)

            if (layEvent === 'detail') {
                //详情操作
                layer.alert(data.name)
            }
            if (layEvent === 'edit') {
                //编辑操作
                layer.prompt({
                    title: '输入新名称',
                    formType: 0
                }, function (new_name, index) {
                    layer.close(index);
                    $.ajax({
                        url: '/admin/category',
                        method: 'post',
                        data: {
                            method: 'edit',
                            cate_id: data.id,
                            cate_name: new_name
                        },
                        success: function (ret) {
                            loadTable();
                            layer.msg(ret.msg);
                            layer.close(edit_layer);
                        }
                    });
                })
            }
            if (layEvent === 'del') {
                //删除操作
                layer.confirm('真的要删除吗?', function (index) {
                    $.ajax({
                        url: '/admin/category',
                        method: 'post',
                        data: {
                            method: 'delete',
                            cate_id: data.id
                        },
                        success: function (ret) {
                            layer.msg(ret.msg)
                        }
                    });
                    obj.del();  //删除对应行的dom结构,并更新缓存
                    layer.close(index);     //关闭弹出层
                })
            }
            if (layEvent === 'LAYTABLE_TIPS') {
                layer.alert('头部工具栏扩展的右侧图标')
            }

        })
        {#监听修改表单提交#}
        form.on('submit(submitEdit)', function (data) {
            var cate = data.field.cate_name;
            $.ajax({
                url: '/admin/category',
                method: 'post',
                data: {
                    method: 'edit',
                    cate_id: data.id
                },
                success: function (ret) {
                    layer.alert(ret.msg);
                    layer.close(edit_layer);
                }
            });
        })
    </script>

    {#添加用户的弹窗#}
    <form class="layui-form" id="addUserForm" style="padding:40px;display:none">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" required lay-verify="required" name="username">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" required lay-verify="required" name="tel">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" class="layui-input" required lay-verify="required" name="password1">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" class="layui-input" required lay-verify="required" name="password2">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submitAddUser">增加用户</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    {#编辑栏目的弹窗#}
    <form class="layui-form" id="editForm" style="padding:40px;display:none">
        <div class="layui-form-item">
            <label class="layui-form-label">栏目名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" required lay-verify="required" name="cate_name">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submitEdit">保存修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">取消</button>
            </div>
        </div>
    </form>
{% endblock %}