{% extends '/admin/base.html' %}
{% import "_macros.html" as macros %}
{% block body %}
    <div class="layui-row">
        搜索栏
    </div>
    <div class="layui-row">
        <table id="users_table"></table>
    </div>
{% endblock %}

{% block script %}
    <script>
        {#加载表格数据#}
        var table = layui.table;
        table.render({
            elem: '#users_table',
            //height: 480,          //不指定固定值将自动适应高度
            url: '/admin/users',
            method: 'post',
            request: {
                pageName: 'page',     //调整post请求中传入后台的页码的参数名称，默认：page
                limitName: 'limit'    //每页数据量的参数名，默认：limit
            },
            page: true,
            cols: [[
                {field: 'id', title: 'ID', width: 80, align: 'center', sort: true, fixed: 'left'},
                {field: 'username', title: '用户名', align: 'center', width: 100},
                {field: 'tel', title: '手机', align: 'center', width: 120},
                {field: 'operate', title: '操作', minWidth: 200, align: 'center', toolbar: '#rowTool'}
            ]]
        })
        //TODO 为每行的按钮添加响应事件
    </script>

    {#表格每行后面的操作按钮集合#}
    <script type="text/html" id="rowTool">
        <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        {#注释测试#}
    </script>
{% endblock %}