{% extends 'base.html' %}
{% block title %}{{article.title}}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-12 shadow">
        <div class="p-4">
            <h3 align="center">{{article.title}}</h3>
            <hr>
            <p align="center">
                <span>作者: {{article.author.username}}</span>
                <span class="ml-4">时间: {{article.create_time}}</span>
            </p>
            <hr>
            <p>
                {#使用|safe管道不转义html标签#}
                {{article.content|safe}}
            </p>
        </div>
    </div>
</div>
{% endblock %}
