{% extends 'base.html' %}
{% block title %}登录{% endblock %}
{% block body %}
<div class="row">
    <div class="col-6 shadow p-4 m-auto">
        <h4 class="card-title">登录账号</h4>
        <p class="card-text">
        <form method="POST" action="">
            <div class="form-group">
                <label>手机号</label>
                <input type="tel" class="form-control" name="tel" placeholder="请输入手机号">
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" class="form-control" name="password" placeholder="请输入密码">
            </div>
            <button type="submit" class="btn btn-primary btn-block">登录</button>
        </form>
    </div>
</div>
{% endblock %}
